@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  @apply max-w-screen-xl mx-auto px-4;
}
.container-sm {
  @apply max-w-screen-lg mx-auto px-4;
}

.home-banner {
  @apply w-full bg-blue-50 flex items-center;
  height: 100vh;
  max-height: 800px;
}
.bg-brown {
  background-color: #f6f4f1;
}

.bg-brown-dark {
  background-color: #f1ecc9;
}

.bg-yellow {
  background-color: #e2be2d;
}

.bg-yellow-dark {
  background-color: #c8a828;
}

.bg-light-blue {
  background-color: #f7fcff;
}
.bg-blue {
  background-color: #3e69b3;
}

.bg-green {
  background-color: #69bd45;
}

.border-yellow {
  border-color: #e2be2d;
}

.text-blue {
  color: #3e69b3;
}

.text-green {
  color: #69bd45;
}
.text-yellow {
  color: #e2be2d;
}

.signup-banner {
  background-color: #f7fcff;
}

.headline {
  @apply text-5xl font-bold capitalize mb-4;
}

/* ================== */
/* Button Variants */
/* ================== */

.btn {
  @apply px-4 py-2 border-2 rounded;
}
.btn-small {
  @apply px-3 py-2 rounded;
}
.btn-yellow {
  @apply text-white;
  background-color: #e2be2d;
  border-color: #e2be2d;
}

.btn-blue {
  @apply bg-blue-900 text-white  border-blue-900;
}

.btn-green {
  @apply text-white;
  background-color: #69bd45;
  border-color: #69bd45;
}

.btn-rounded {
  @apply rounded-full px-8;
}

.btn-outline {
  @apply border-2  border-gray-600;
}

/* ================== */
/* MultiRange Slider */
/* ================== */

.thumb::-webkit-slider-thumb {
  appearance: none;
}

.thumb::-webkit-slider-thumb {
  background-color: #e2be2d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #e2be2d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

input[type="radio"]:checked {
  background-image: none;
  color: #e2be2d;
  outline: none;
}

input[type="radio"]:checked + label {
  color: #e2be2d;
}

/*==============Table Styles=============*/
.table-bottom-spaced {
  border-collapse: separate;
  border-spacing: 0 10px;
}

tr.rounded-table-cell th:first-child,
tr.rounded-table-cell td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr.rounded-table-cell th:last-child,
tr.rounded-table-cell td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*==============Bordered Table=============*/

.bordered-table th,
.bordered-table td {
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.bordered-table th:first-child,
.bordered-table td:first-child {
  border-left: 2px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
}

.bordered-table th:last-child,
.bordered-table td:last-child {
  border-right: 2px solid;
  border-color: rgba(0, 0, 0, 0.1);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}

/*=================== Language Tags============ */

.react-tags {
  position: relative;
  padding: 6px 0 0 6px;
  border: 1px solid #d1d1d1;
  border-radius: 1px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: #b1b1b1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 6px 6px 0;
  padding: 6px 8px;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  background: #f1f1f1;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: "\2715";
  color: #aaa;
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #b1b1b1;
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  background-color: inherit;
  display: inline-block;
  width: 100%;
  height: 100%;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 100;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: white;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.react-tags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 6px 8px;
}

.react-tags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

ul li::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #3e69b3;
  margin-right: 8px;
}
