@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.container {
  @apply max-w-screen-xl mx-auto px-4;
}
.container-sm {
  @apply max-w-screen-lg mx-auto px-4;
}

.home-banner {
  @apply w-full bg-blue-50 py-60;
}

.signup-banner {
  background-color: #f7fcff;
}

.headline {
  @apply text-5xl font-bold capitalize mb-4;
}

/* ================== */
/* Button Variants */
/* ================== */

.btn {
  @apply px-4 py-2 border-2 rounded;
}
.btn-yellow {
  @apply text-white;
  background-color: #e2be2d;
  border-color: #e2be2d;
}

.btn-blue {
  @apply bg-blue-900 text-white  border-blue-900;
}

.btn-green {
  @apply bg-green-600 text-white  border-green-600;
}

.btn-rounded {
  @apply rounded-full px-8;
}

.btn-outline {
  @apply border-2  border-gray-600;
}

/* ================== */
/* MultiRange Slider */
/* ================== */

.thumb::-webkit-slider-thumb {
  appearance: none;
}

.thumb::-webkit-slider-thumb {
  background-color: #e2be2d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #e2be2d;
  border: none;
  border-radius: 50%;
  box-shadow: 0 0 1px 1px #ced4da;
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

input[type="radio"]:checked {
  background-image: none;
  color: #e2be2d;
  outline: none;
}

input[type="radio"]:checked + label {
  color: #e2be2d;
}

/*==============Table Styles=============*/
.table-bottom-spaced {
  border-collapse: separate;
  border-spacing: 0 10px;
}

tr.rounded-table-cell th:first-child,
tr.rounded-table-cell td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

tr.rounded-table-cell th:last-child,
tr.rounded-table-cell td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
